/* font-family: 'Fjalla One', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
    background-color: #121013;
    font-family: 'Source Sans Pro', sans-serif;  
    margin: 0;
    padding: 0;
     
}
header {
    background-color: black;    
    width: 100%;
    display: flex;    
    height: 70px;
    justify-content: space-between;
    align-items: center;       
    flex-wrap: wrap;
    position: fixed;
}

.hamburguer img{
    display: none;
}


.container_menu{    
    display: flex;
    height: 100%;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    position: absolute;
    right: 0;  
    top: 15px;    
    width: 70%;   
    flex-wrap: wrap;   
    list-style: none;  
}

.link{
    color: white;
    text-decoration: none;
    font-size: 22px;   
    align-items: center;     
    
}

.main {
    color:rgb(3, 12, 41);   
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
}

.main img{
    width: 1350px;
    height: 600px;
}

.main-container{
    position: absolute;
    top: 280px
}

.main-container h1{
    font-family: 'Fjalla One', sans-serif;
    width: 100%;
    font-size: 70px;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: -.2px;
    margin: auto; 
    text-align: center; 
    color: rgb(255, 255, 255);  
}

.main-text{
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    text-align: justify;
    flex-wrap: wrap;
    text-align: center; 
    margin: auto;
    color: white;
}

.about-container{
    width: 98%;
    margin: 10px 0;
}

.about-title h1{
    padding: 80px 0 0 20px;
    margin:40px 60px;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: white;    
    
}

.about-name {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.about-name figure {
    margin: 0 100px;
}
.about-name figure img {
    border-radius: 50%;
    height: 150px;
    padding: 10%;
}

.name-description {
    margin-left: 0px;
    flex-wrap: wrap;
}

.name-description h2 {
    padding: 0; 
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin: 0;
}

.country-description {
    display: flex;
    align-items: center;     
}

.country-title{
    margin: 0;
    padding: 0;
    justify-content: left;
    color: white;
}   

.country-description img {
    height: 18px;
    margin: 0 0 0 10px;
}

.about-description p {
    margin: auto;
    font-size: 23px;
    text-align: justify;
    color: white;
    margin: 0 100px;
} 

.button-description {
    text-align: right;    
    font-size: 18px;
}

.button-description a{
    text-decoration: none;
}

.button {
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    padding: 10px;   
    margin: 0px 100px;    
    background-color: #0077B7;
    width: 100px;
    color: white;
}

.redes{
    display: flex;
    justify-content: center;

}

.redes a img {
    align-items: center;    
    padding: 20px;
    flex-wrap: wrap; 
    width: 70px;     
     
}

.studies h2 {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin: 0 150px;
    padding: 3%;
}

.study-text {
    margin: 20px 200px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: justify; 
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    color: white;
}

.container-studies {
    display: flex;
    justify-content: center; 
}

.container-studies img{
    width: 60px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-studies-text {
    display:flex;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    align-items: center;
    color: white;
}

.container-studies-text p{
    padding: 0 20px;
    margin: 0 10px;
}

.hability h2 {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin: 40px 0 0 190px;
    
}

.hability-text {
    margin: 60px 200px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: justify; 
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    color: white;
}

.container-hability {
    display: flex;
    justify-content: center; 
}

.container-hability img{
    width: 60px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-hability-text {
    display:flex;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    align-items: center;
    color: white;    
}

.container-hability-text p{
    padding: 0 20px;
    margin: 0 10px;
}

.projects {
    margin: auto;
    padding: 5%;
    text-align: justify;
}
.projects h2 {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin: auto;
    padding: 1%; 
}

.project-left{
    margin: 60px 200px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: justify; 
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    color: white;
    background-color: #0077b765;
}

.experience {
    margin: 1%;
    padding: 2%;
    font-size: 20px;
    text-align: justify;
    border-radius: 10px 10px;
    box-shadow: 0px 0px 5px black;
    align-items: center;        
    display: flex;
    height: auto;
    flex-wrap: wrap;
}


.experiences {
    width: 90%;
    margin:0;
    padding: 5%;    
}

.experiences h2 {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: justify;
    color: white;
    padding: 0px 2%;
}

.experience-down{
    margin: 60px 200px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: justify; 
    border-radius: 10px 10px; 
    box-shadow: 0px 0px 5px black;
    color: white;
    background-color: #0077b765;
}


.contact {
    padding: 0;  
    margin: 0;
}

.contact h2 {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: justify;
    color: white;
    margin: 0;
    padding: 3% 6%;
}

.contact-formulary {      
    display: flex; 
    justify-content: center;
    margin-bottom: 70px;
    
           
}

.email{
    background-color: #0077b765;
    padding: 12px 20px;
    border: 2px solid rgb(172, 172, 230);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
    width: 20%; 
    height: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;    
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
}

.envio-email {
    background-color: #0077b765;
    padding: 12px 20px;
    border: 2px solid rgb(172, 172, 230);
    border-radius: 0px 15px 20px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
    width: 22%; 
    height: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.envio-email a img {
    margin: 0px 0 0 15px;
    border-radius: 5px;     
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;   
    flex-wrap: wrap;  
    color: white;   
}  

.footer-detail {
    display:flex;
    justify-content: space-between;
    font-size: 1em;
    flex-wrap: wrap;
        
}

.footer img {
    height: 30px;
    margin: 10px;
}


/* ************MEDIA QUERIES******************************* */
/* ****************************1024*************************** */
@media screen and (max-width:1024px){
    .header {
        width: 100%;
        height: 1.2em;
        margin-bottom: 10px;
    }

    .container_menu ul{
        width: 80%;
    }
    .link{
        font-family: 'Hammersmith One', sans-serif;
        margin: 10px;
        padding: 5px;   
        font-size: 18px; 
        color:white;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main img{
        height: 500px;
    }

    .about-description p {
        font-size: 1.2em;
        padding: 1% 3%;
    }

    .button{
        margin: 0 130px;
    }
    
    .studies h2 {
        font-size: 2em;
    }

    .study-text{
        font-size: 1.2em;
    }

   
    .hability h2 {
        font-size: 32px;    
    }

    .hability-text{
        padding: 1.5em;
        font-size: 20px;
    }

    .projects h2{
        margin: 0 30px;
        padding: 30px 0 0 2%;
    }
    .project-left{
        font-size: 20px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .experiences{
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .experiences h2{
        margin: 0 30px;
        padding: 80px 0 0 2%;
    }


    .experience-down{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact-formulary{
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        margin-bottom: 50px;
    }

    .envio-email{
        width: 25%;
    }
}


/* ****************************767*************************** */
@media screen and (max-width:767px){
   
    .container_menu ul{
        width: 80%;
    }
    .link{
        font-family: 'Hammersmith One', sans-serif;
        margin: 10px;
        padding: 5px;   
        font-size: 18px; 
        color:white;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main img{
        width: 767px;
    }


    .main-container h1{
        font-size: 50px;
    }


    .about-title h1 {
        font-size: 30px;
        padding: 80px 0 0 1em;
    }

    .about-name figure {
        margin: 0 10px 0 100px;    
    }

    .about-name figure img{
        width: 90px;
        height: 100px;
    }

    .name-description h2 {
        font-size: 1.15em; 
        padding: 5px;         
    }

    .country-title {
        font-size: 1em;
        padding: 5px;
    }

    .about-description p {
        font-size: 16px;
        padding: 0 1.5em 0.5em 1.5em;
        height: 130px;
        margin-top: 20px;
    }

    .button-description a{
        font-size: 0.8em;
        padding: 9px;
        text-decoration: none;
    }

    .button{
        box-shadow: 0px 0px 1px black;
        font-family: 'Source Sans Pro', sans-serif;        
    }

    .redes a img{
        width: 50px;
    }

    .studies h2 {
        font-size: 24px;
    }

    .study-text{
        font-size: 16px;
        width: 350px;
    }

    .container-studies img {
        width: 40px;
        height: 20%;
    }
    
    .container-studies-text p{
        font-size: 18px;
        padding: 10px;
    }

    .hability h2 {
        font-size: 24px;
        margin-left: 170px;        
    }

    .hability-text {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .projects h2 {
        font-size: 30px;
        margin-left: 75px;  
    }

    .project-left{
        width: 50%;
        font-size: 16px;
    }


    .experience{
        margin: 1em;   
        display: flex;   
        justify-content: space-between;         
    }

    .experiences h2 {
        font-size: 30px;
        margin-left: 75px;  
    }

    .experience-down{
        width: 50%;
        font-size: 16px
    }

    .contact h2{
        font-size: 30px;
        margin-left: 75px;
    }

    .contact-formulary{
        width: 96.2%;
        margin: 0;
        padding: 0 0% 4% 1.5%;  
        text-align: center;
    }

    .email{
        width: 29%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
   }

    .envio-email{
        width: 32%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em; 
        display: flex;
        text-align: center;
        padding: 1.2%;
    }

    .envio-email a {
        margin-top: auto;
        margin-bottom: auto;
    }

    .envio-email a img{
        margin: auto;
        padding: auto;
    }

    .footer{
        width: 100%;
        height: 45px;
        background-color: #a32437;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }  
}

/* ****************************480*************************** */
@media screen and (max-width:480px){
     
    .hamburguer img{
        display: flex;
        justify-content: center;
        position: fixed;  
        top:15px;
        height: 40px;
        align-items: center;
        color: white;
        background-color: transparent;
        margin: 0 20px;
        z-index: 20;
        cursor: pointer;
        
    }

    .menu{
        display: block;
        position: fixed;   
        left: -100vh;  
        top: 0px;     
        width: 50%;
        margin: 0;
        padding: 40px 0;
        height: 100vh;
        z-index: 10;
        transition: all 1s ease;
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

             
    }  

    .menu ul{
        padding: 20px 40px;
        margin: 30px 20px;  
    }

    .link:hover{
       color: #059931; 
       cursor: pointer; 
    }

    .link{
        justify-content: center;
        margin: 15px 10px;
        padding: 15px 10px;  
        font-size: 20px; 
    }
    
    .menu_active{
        left: 0;
        
    }

    .main img{
        width: 480px;
        height: 530px;
    }


    .main-container h1{
        font-size: 50px;
    }


    .about-title h1 {
        font-size: 30px;
        padding: 80px 0 0 1em;
        
    }

    .about-name{
        margin-bottom: 30px;
    }

    .about-name figure {
        margin: 0 10px 0 100px;    
    }

    .about-name figure img{
        width: 90px;
        height: 100px;
    }

    .name-description h2 {
        font-size: 1.15em; 
        padding: 5px;         
    }

    .country-title {
        font-size: 1em;
        padding: 5px;
    }

    .about-description p {
        font-size: 16px;
        padding: 0 1.5em 0.5em 1.5em;
        margin: auto;
        width: 60%;
        height: auto;
    }

    .button-description a{
        font-size: 0.8em;
        padding: 9px;
        text-decoration: none;
    }

    .button-description{
        position: absolute;
        right: 200px;
    }

    .button{
        box-shadow: 0px 0px 1px black;
        font-family: 'Source Sans Pro', sans-serif; 
        margin: 0;
         
        
    }

    .redes{
        margin-top: 40px;
    }
    .redes a img{
        width: 50px;
    }

    .studies h2 {
        font-size: 24px;
    }

    .study-text{
        font-size: 14px;
        margin: auto;
        width: 50%;
        
    }

    .container-studies img {
        width: 40px;
        height: 20%;
    }
    
    .container-studies-text p{
        font-size: 16px;
        padding: 10px;
    }

    .hability h2 {
        font-size: 24px;
        margin-left: 170px;   
        margin-bottom: 30px;     
    }

    .hability-text {
        font-size: 16px;
        font-size: 16px;
        margin: auto;
        width: 50%;
    }

    .container-hability img{
        width: 40px;
    }

    .container-hability-text p{
        font-size: 16px;
    }

    .projects h2 {
        font-size: 30px;
        margin-left: 15px; 
        margin-bottom: 30px; 
        margin-top: 20px;
    }

    .project-left{
        font-size: 14px;
        margin: auto;
        height: auto;
        padding: 15px;
    }


    .experience{
        display: flex;   
        justify-content: space-between;         
    }

    .experiences{
        padding: 0;
        margin: 0;
    }

    .experiences h2{
        font-size: 30px;
        margin-left: 35px;
        padding: 40px 0 20px 0;
        
       
    }

    .experience-down{
        font-size: 14px;
        margin: auto;
        height: auto;
        padding: 15px;
    }

    .experience-down h3{
        margin: 0;
    }

    .contact h2{
        font-size: 30px;
        margin-left: 45px;
        padding: 40px 0 20px 0;
    }

    .contact-formulary{
        width: 100%;
        margin: 0;
        padding: 0 0% 4% 1.5%;  
        text-align: center;
    }

    .email{
        width: 29%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
   }

    .envio-email{
        width: 32%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em; 
        display: flex;
        text-align: center;
        padding: 1.2%;
    }

    .envio-email a {
        margin-top: auto;
        margin-bottom: auto;
    }

    .envio-email a img{
        margin: auto;
        padding: auto;
    }

    .footer{
        height: 50px;
        background-color: #a32437;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }  
}

/* ****************************400*************************** */

@media screen and (max-width:400px){
    
    .link{
        justify-content: center;
        margin: 15px 10px;
        padding: 15px 10px;    
    }

    .link:hover{
        color: #059931; 
        cursor: pointer; 
     }

     .main img{
        width: 400px;
        height: 550px;
    }

    .main-container h1{
        font-size: 40px;
        position: absolute;
        top: -80px;
    }

    .main-text{
        font-size: 30px;
        position: relative;
        top: 60px;        
    }


    .about-title h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        
    }

    .about-name{
        width: 100%;
        margin: 0;
    }

    .about-name figure{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-name figure img{
        width: 90px;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .name-description{
        width: 100%;
    }

    .name-description h2 {
        font-size: 1.15em; 
        padding: 5px;
        text-align: center;     
    }

    .country-description {
        display: block;
        font-size: 1em;
        padding: 5px;
        width: 100%;
        text-align: center;
        
    }

    .about-description p {
        font-size: 16px;
        padding: 10px;
        margin: auto;
        width: 70%;
        height: auto;
    }

    .button-description a{
        font-size: 0.8em;
        padding: 8px;
        text-decoration: none;
        position: absolute;
        left: 40px;
    }

    .button{
        box-shadow: 0px 0px 1px black;
        font-family: 'Source Sans Pro', sans-serif;   
        width: 80px;     
    }

    .redes{
        margin-top: 80px;
    }
    .redes a img{
        width: 50px;
    }

    .studies h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        padding: 0;
        width: 100%;
    }

    .study-text{
        font-size: 15px;
        margin: auto;
        width: 60%;
        
    }

    .container-studies img {
        width: 40px;
        height: 20%;
    }
    
    .container-studies-text p{
        font-size: 16px;
        padding: 10px;
    }

    .hability h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        padding: 20 0;
        width: 100%;    
    }

    .hability-text {
        font-size: 16px;
        margin: auto;
        width: 60%;
    }

    .container-hability img{
        width: 40px;
    }

    .container-hability-text p{
        font-size: 16px;
    }

    .projects h2 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; 
        margin-top: 20px;

    }

    .project-left{
        font-size: 15px;
        width: 70%;
        height: 250px;
        padding: 15px;
    }


    .experiencia{
        padding: 0;
        margin: 0;
    }

    .experiences h2{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; 
        margin-top: 20px;
        padding-top: 80px;
    }

    .experience-down{
        font-size: 15px;
        width: 70%;
        height: 150px;
        margin-left: 50px;  
    }

    .experience-down h3{
        margin: 0;
    }

    .contact h2{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .contact-formulary{
        width: 100%;
        margin: 0;
        padding: 0 0% 4% 1.5%;  
        text-align: center;
        margin-bottom: 50px;
    }

    .email{
        width: 39%;
        height: 20px;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        margin-top: 30px;
   }

    .envio-email{
        width: 35%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em; 
        display: flex;
        text-align: center;
        padding: 1.2%;
    }

    .envio-email a {
        margin-top: auto;
        margin-bottom: auto;
    }

    .envio-email a img{
        margin: auto;
        padding: auto;
    }

    .footer{
        height: 80px;
        background-color: #a32437;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }  

    .footer p{
        margin: 0;
    }

    .footer-detail p{
        margin: 10px 0 0 0;
        align-items: center;
    }

}
    

/* ****************************320*************************** */

@media screen and (max-width:320px){
    
    .menu{
        height: 110vh;
    }

    .hamburguer img{
        position: fixed;
        top: 30px;
    }
    .link{
        justify-content: center;
        margin: 20px 10px;
        padding: 25px 10px;    
    }

    .link:hover{
        color: #059931; 
        cursor: pointer; 
     }

     .main img{
        width: 320px;
    }


    .main-container h1{
        font-size: 40px;
        position: absolute;
        top: -80px;
    }

    .main-text{
        font-size: 30px;
        position: relative;
        top: 60px;        
    }


    .about-title h1 {
        font-size: 30px;
        padding: 80px 0 0 1em;
        margin-bottom: 10px;
        
    }

    .about-name{
        width: 320px;
        display: block;
    }

    .about-name figure img{
        width: 90px;
        height: auto;
    }

    .name-description h2 {
        font-size: 1.15em; 
        padding: 5px;
        text-align: center;     
    }

    .country-description {
        display: block;
        font-size: 1em;
        padding: 5px;
        width: 100%;
        text-align: center;
        
    }

    .about-description p {
        font-size: 16px;
        padding: 10px;
        margin: auto;
        width: 70%;
        height: 300px;
    }

    .button-description a{
        font-size: 0.8em;
        padding: 8px;
        text-decoration: none;
        position: absolute;
        left: 40px;
    }

    .button{
        box-shadow: 0px 0px 1px black;
        font-family: 'Source Sans Pro', sans-serif;   
        width: 80px;     
    }

    .redes{
        margin-top: 80px;
    }
    .redes a img{
        width: 50px;
    }

    .studies h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        padding: 0;
        width: 100%;
    }

    .study-text{
        font-size: 15px;
        margin: auto;
        width: 60%;
        
    }

    .container-studies img {
        width: 40px;
        height: 20%;
    }
    
    .container-studies-text p{
        font-size: 16px;
        padding: 10px;
    }

    .hability h2 {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 30px 0;
        padding: 20 0;
        width: 100%;    
    }

    .hability-text {
        font-size: 16px;
        margin: auto;
        width: 60%;
    }

    .container-hability img{
        width: 40px;
    }

    .container-hability-text p{
        font-size: 16px;
    }

    .projects h2 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; 
        margin-top: 20px;

    }

    .project-left{
        font-size: 15px;
        width: 70%;
        height: 250px;
        padding: 15px;
    }


    .experiencia{
        padding: 0;
        margin: 0;
    }

    .experiences h2{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px; 
        margin-top: 20px;
        padding-top: 80px;
    }

    .experience-down{
        font-size: 15px;
        width: 70%;
        height: 150px;
        margin-left: 50px;  
    }

    .experience-down h3{
        margin: 0;
    }

    .contact h2{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .contact-formulary{
        width: 100%;
        margin: 0;
        padding: 0 0% 4% 1.5%;  
        text-align: center;
        margin-bottom: 50px;
    }

    .email{
        width: 39%;
        height: 20px;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        margin-top: 30px;
   }

    .envio-email{
        width: 35%;
        height: auto;
        font-size: 1em;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1em; 
        display: flex;
        text-align: center;
        padding: 1.2%;
    }

    .envio-email a {
        margin-top: auto;
        margin-bottom: auto;
    }

    .envio-email a img{
        margin: auto;
        padding: auto;
    }

    .footer{
        height: 80px;
        background-color: #a32437;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }  

    .footer p{
        margin: 0;
    }

    .footer-detail p{
        margin: 10px 0 0 0;
        align-items: center;
    }

}


