/* font-family: 'Sansita', sans-serif; */
:root {
    --primario: hsla(216, 86%, 15%, 1);
    ;
    --secundario: #EB4444;
    --gris: #EAE6E1;
    --grisClaro: #e1e1e1;

    --separacion: 5rem;

    --fuentePrincipal: 'Sansita', sans-serif;;

}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem en 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--primario);
    margin: 0;
    color: var(--gris);
}

/*Globales*/

.contenedor{
    max-width: 120rem;
    width: 90%; /*Si es menor de los 1200px se tomará el 90% del ancho*/
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 900;
    font-family: var(--fuentePrincipal);
    margin: calc( var(--separacion) / 2 ) 0; /*2.5rem 0*/

}

h2{
    font-size: 3rem;
    color: var(--secundario);
}

h3{
    font-size: 1.8rem;
    font-weight: 100;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

.btn {
    background-color: hsla(360, 81%, 70%, 1);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0.8rem 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn:hover,
  .btn:focus {
  background-color: var(--secundario);
}

/*Utilidades*/

.text-center {
    text-align: center;
}

.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		margin-right: 0.5rem;
		color: var(--gris);
		font-weight: 900;
		letter-spacing: -0.125rem;
		border: 3px solid currentColor;
		border-radius: 50%;
}

.monogram:hover {
        color: var(--secundario);
}

header {
    border-bottom: 0.8px solid hsla(216, 86%, 25%, 1);;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
}

.hamburguer img{
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;  
    font-family: var(--fuentePrincipal);
}

.link{
    color: var(--gris);
    font-size: 18px;   
    align-items: center;    
    padding: 0 1rem;
}

.link:hover{
    color: var(--secundario);
}

/* main */
.main__container { 
    height: 95vh;
    align-items: center;
    display: grid;
    grid-template-columns: no-repeat(1, 0.1fr); 
    align-items: start;
    grid-template-rows: repeat(2, 1fr);
}
.hero__tittle {
    margin-top: 10rem;
    
    
}

.hero__tittle span {
    font-size: 3rem;
    margin: 0;
    display: block;
    text-align: center;
    color: var(--secundario);
}

.hero__tittle h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--secundario);
}
.hero__tittle strong {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: var(--gris);
    font-weight: 100;
    padding: 0 4rem 0 4rem;
}


.social__icon {
    position: fixed;
    display: block;
    margin-top: 30rem;
}

.imgSocial:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    /* opacity: 0.8; */
    background-color: rgb(1, 21, 63);
    border-radius: 5%;
}

.hero__cube {
    display: flex;
    justify-content: center;
    align-items: start;
}

.hero__cube img {
    display: grid;
    margin-top: 1rem;
}
.imgSocial{
    width: 50%;
    padding: 6px;
    margin: 0 1rem;

}

/* about */

.about, .skills,.projects {
    padding: 0 2rem 0 4rem;
    margin-bottom: 10rem;
}

.about h2, .projects h2 {
    text-align: right;
    margin-right: 5rem;
}

.about__description h3{
    margin-right: 4rem;
    text-align: justify;
}

.btn a{
    color: var(--gris);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--fuentePrincipal);
}
.cv {
    display: flex;
    justify-content: end;
    margin-right: 4rem;

}

button .btn {
    display: block;
    text-align: center;
    margin: 0;
}

/* skills */

.skills__icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}

.skills__icon img {
    padding-bottom: 2rem;
}

.skills__icon img:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    opacity: 0.8;
}



/* projects */

.projects{
    margin-top: 5rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
    justify-items: center;
    margin: 0 4rem;
}

.card__img {
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background: #FF7A59;
    opacity: 0.8;
}

.card__item {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__paragraph{
    color: var(--primario);
    text-align: center;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.description__tech {
    display: flex;
    justify-content: end;
    align-items: center;
}

.deploy{
    padding-right: 1rem;
}

/* contact */

.contact {
    margin-top: 5rem;
    padding: 0;
}
.contact h2 {
    padding: 0 2rem 0 4rem;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    padding: 0 2rem 0 3.8rem;
}

.contact a {
    font-size: 2.5rem;
    color: var(--gris);
    display: block;
    text-align: center;
    padding: 0 2rem 0 3.8rem;
    text-decoration: none;
}

.contact__img {
   width: 30%;
   margin: 2rem auto;
   padding-top: 1.5rem;
}

.footer p {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
    padding-left: 2rem;
}
/*Media Queries*/

@media screen and (max-width:640px){

    /* header {
        height: 6rem;
        
    } */

    .monogram {
        visibility: hidden;
    }

    .hamburguer img{
        display: flex;
        position: fixed;  
        right: 0;
        padding:1.5rem 0;
        color: var(--gris);
        margin: 0 20px;
        z-index: 3;
        cursor: pointer;
        width: 30px;
    }

    .menu{
        position: fixed;   
        left: 0;  
        top: 0px;     
        width: 70%;
        height: 100vh;
        z-index: 2;
        transition: all 1s ease;
        background: var(--gris);
        
        
    }  

    ul {
        display: block;
        text-align: center;
        padding: 0;
        margin: 10rem 0;
    }

    ul li {
        padding: 2rem 0;
    }

    .link{
        color: var(--primario);
        font-size: 28px;
        font-family: var(--fuentePrincipal);
        
        
    }

    .link:hover{
       color: #0077B7; 
       cursor: pointer; 
    }

  
    .menu_active{
        left: -100vh;
    }

    
}

@media (min-width: 640px) {
    h1{
        font-size: 4.4rem;
        color: var(--secundario);
    }
    h2{
        font-size: 3.6rem;
        color: var(--secundario);
    }
    h3{
        font-size: 2.8rem;
    }

    /* main */
    .main__container {
        grid-template-rows: repeat(4, 1fr);
    }
    .hero__tittle span {
        font-size: 3.5rem;
    }
    
    .hero__tittle h1 {
        font-size: 4.5rem;
    }

    .hero__tittle strong {
        font-size: 2.5rem;
        font-weight: 100;
        padding: 0 10rem 0 10rem;
    }
    
    .social__icon {
        position: static;
        display: flex;
        margin-top: 4rem;
        justify-content: center;
    }
    
    .hero__cube {
        display: flex;
        justify-content: center;
        align-items: start;
    }
    
    .hero__cube img {
        width: 12%;
    }
    .imgSocial{
        width: 80%;
        padding: 1rem;
        margin: 0 1rem;
    
    }

    /* about */
    .about__description h3{
        font-size: 2rem;
        text-align: end;
    }
    
    .btn a{
        font-size: 1.8rem;
    }

    /* skills */
    .skills__icon{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 0rem 4rem;
        justify-items: normal
    }

    .skills__icon--item img{
        width: 40%;
    }

    .card {
        width: 50%;
        margin: 0 auto;

    }

    /* contact */
    .contact p {
        font-size: 2.5rem;
    }


    
    .contact__img {
       width: 25%;
       margin: 2rem auto;
       padding-top: 1.5rem;
    }
    
    .footer p {
        font-size: 1.8rem;
        margin-top: 4rem;
    }
}




@media (min-width: 1020px) { 
    .about, .skills,.projects, .contact, .footer {
        padding: 0 15rem;
    }

    .skills__icon{
       margin: 0rem 22rem;
    }

    .skills__icon img:hover {
        transform: scale(1.3);
        transition: all 0.5s ease;
        opacity: 0.8;
    }

    .card {
        width: 35%;
        margin: 0 auto
    }

    .card__paragraph{
        font-size: 2.5rem;
    }

    .deploy__image{
        width: 40px;
    }
    
}

@media (min-width: 1600px) { 
    .contact__img {
        width: 15%;
    }

    .skills__icon--item {
        width: 55%;
    }
}